mat-sidenav-container {
    height: 100%;
}

mat-sidenav,
mat-sidenav-content {
    padding: 0px;
    margin: 0;
}

mat-sidenav {
    background-color: #6c757d;
    width: 200px;
}

.mat-drawer-side {
    border-right: none !important;
}

.container {
    width: 100%;
}

button i.fas.fa-bars.fa-2x {
    color: white !important;
    background-color: transparent !important;
    outline: none !important;
    border: none;
    box-shadow: none !important;
}

button {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.menu {
    height: 49px;
    background: #6c757d;
    color: white;
    margin: 0;
    border: none;
}

.mat-sidenav-content {
    overflow-x: hidden;
}

.fixed-btn {
    z-index: 10000 !important;
}

hr {
    border: 0.5px solid rgb(185, 185, 185);
    width: 100%;
    margin: 10px 0px;
}

.btn:focus {
    background-color: #42474b;
}